header{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    position: sticky;
    top:0px;
    justify-content: space-around;
    background-color: #f9f7f3;
    padding: 0px 30px;
    z-index: 3;
 
}
#logo{
    /* margin: 0px 60px; */
    font-size: 20px;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  min-width: 450px;
}
.down{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: aliceblue;
  color: black;
  padding: 20px;
  

}
.down a{
  padding: 6px 0px;
  text-decoration: none;
}
.dropDown{
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

}

.divrecipe{
  display: flex;
  gap: 20px
}

.add-recipe{
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.dropDown:hover .down{
  display: flex;
  position: absolute;
  top: 22px;
}
/* .down:hover{
  display: ;
} */
.jbut{
  background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  padding: 8px 20px;
  text-decoration: none;
  color:white;
  text-transform:capitalize ;
  border-radius: 25px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  position: relative;
}
.profile img{
  max-width: 100%;
  max-height: 100%;
}
#abs{
  position: absolute;
  width: 120px;
  top: 50px;
  background-color: #f5f6ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.jbut a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: none;
  margin: 10px;
}
#abs span{
  margin: 10px;
  color: black;
  font-size: 14px;
  text-transform: none;
}

@media screen and (min-width: 600px) and (max-width: 900px){
  .logo img{
      width: 140px;
  }
  .menu{
      min-width: 300px;
      font-size: 16px;
  }
}

@media screen and (min-width: 350px) and (max-width:650px){
  header{
      height: 80px;
  }
  #logo{
    font-size: 16px;
  }
  .menu{
      min-width: 200px;
      font-size: 14px;
  }
  .menu div:nth-child(2){
      display: none;
  }

  .logo img{
      
      width: 100px;
  }
}